
/* plans and pricing */
.plans{text-align:center;}
.plans .plan { text-align:center; width:25%; display:inline-block; margin:0 2%; box-shadow:0 0 0 2px #e0e0e0 inset;}
.plans .plan:hover{box-shadow:0 0 0 2px #ccc inset;}
.plan .header{margin:30px 0;}
.best-value .header{margin:40px 0;}
.plan .header .title{font-size:18px;}
.plan .header .price h3{margin:0 0 10px; font-weight:700; font-size:30px;}
.plans .features-list .features{margin:0; padding:0;}
.plans .features-list .features li{display:block; list-style:none; padding:15px; border-bottom:1px solid #efefef;}
.plans .plan:hover .features-list .features li{border-color:#ccc;}
.plans .features-list .features li:first-child{border-top:1px solid #efefef;}
.plans footer{padding:30px;}
.best-value footer{padding:40px 30px;}
.plans footer .btn{text-transform:none;}
.plans .features-list li i{color:#de2525;}
.free-trial{margin:40px auto 0;}

@media (max-width:990px){
	.plans .plan{width:32%; margin:0 0.5%;}
}
@media (max-width:750px){
		.plans .plan{width:90%; max-width:400px; margin:0 auto 40px;}
}
@media (max-width:450px){
	.plans .features-list{display:none;}
}
